 /* Basic styling for the navigation bar */
        nav {
            background-color: #333;
            overflow: hidden;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            text-align: center;
        }

        nav ul li {
            display: inline-block;
            padding: 15px 20px;
            margin-right: 40px; /* Increase space between list items */
        }

        nav ul li a {
            text-decoration: none;
            color: white;
            font-size: 22px;
        }

        nav ul li a:hover {
            color: #ffcc00;
        }

body {
    background-color: #de6454;
}

h1{
    font-weight:bold; 
      font-size:50px; 
      text-align: center;
      font-family: CASTELLAR;
      
  }

h2{
    font-size:42px;  
      text-wrap:normal; 
      word-wrap:break-word;
      font-family: Bookman old style;
  }

h3{
    font-size:23px;  
      text-wrap:normal; 
      word-wrap:break-word;
      font-family: Oswald;
  }
  p{
    font-size: 15px;
    font-family: Dubai;
  }

ul{
    font-size: 17px;
    font-family: Dubai;
}